@use 'variables' as var;

.page {
  scroll-behavior: smooth;

  &__body {
    font-family: Poppins, sans-serif;
    color: var.$mainTextColor;
    background-color: var.$mainBackgroundColor;
    margin: 0;
  }
}

.page:has(.page__menu:target) {
  overflow: hidden;
}

.page__menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.3s ease-in-out;
}
