@use 'variables' as var;

.button {
  margin-top: 20px;
  min-height: 48px;
  min-width: 278px;
  text-decoration: none;
  color: var.$secondaryTextColor;
  background-color: var.$mainTextColor;
  border-radius: 40px;
  line-height: 48px;
  text-align: center;
  font-size: var.$textSizeSmall;
  font-weight: var.$textWeightBold;
  transition: var.$transitionDuration;

  @media (min-width: 576px) {
    min-width: 392px;
  }

  @media (min-width: 1260px) {
    min-width: 324px;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 1px 4px 16px #e8e8f066;
  }

  &:active {
    box-shadow: 1px 4px 16px #e8e8f0a3;
  }
}
