@use 'variables' as var;

.compare-bikes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 45px;

  &__container {
    @media (min-width: 1260px) {
      display: flex;
      justify-content: center;
      gap: 24px;
      margin-top: 5px;
    }
  }

  &__title {
    font-size: var.$textSizeBig;
    text-align: center;
    font-weight: var.$textWeightMedium;
    line-height: var.$textLineHeight;
    letter-spacing: var.$textLetterSpacing;

    @media (min-width: 576px) {
      font-size: var.$textSizeVeryBig;
    }

    @media (min-width: 1260px) {
      font-size: var.$textSizeVeryVeryBig - 16px;
    }
  }

  &__card {
    width: var.$cardWidth;
    height: var.$cardHeight;
    padding-top: 40px;

    @media (min-width: 576px) {
      width: var.$cardWidthTablet;
      height: var.$cardHeightTablet;
    }

    @media (min-width: 1260px) {
      width: var.$cardWidthDesktop;
      height: var.$cardHeightDesktop;
    }

    &-photo {
      width: var.$cardWidth;
      height: var.$cardHeight - 190px;
      transition: var.$transitionDuration;

      @media (min-width: 576px) {
        width: var.$cardWidthTablet;
        height: var.$cardHeightTablet - 168px;
      }

      @media (min-width: 1260px) {
        width: var.$cardWidthDesktop;
        height: var.$cardHeightDesktop - 190px;
      }

      &--sporty4 {
        background-image: url(/src/images/sporty-4-image.png);
        background-size: cover;
        background-position: center;
      }

      &--ride-in-town {
        background-image: url(/src/images/ride-in-town-ST-image.png);
        background-size: cover;
        background-position: center;
      }

      &--agile-ride {
        background-image: url(/src/images/agile-ride-3-image.png);
        background-size: cover;
        background-position: center;
      }
    }

    &-photo:hover {
      transform: var.$transitionScale;

      @media (min-width: 576px) {
        transform: scale(1.03);
      }
    }

    &-title {
      font-size: var.$textSizeMedium;
      font-weight: var.$textWeightBold;
      line-height: var.$textLineHeight + 40%;
    }

    &-text {
      font-size: var.$textSizeSmall;
      font-weight: var.$textWeightThin;
      line-height: var.$textLineHeight + 40%;
    }

    &-price {
      font-size: var.$textSizeMedium;
      font-weight: var.$textWeightBold;
      line-height: var.$textLineHeight + 40%;
    }
  }
}
