@use 'variables' as var;

.contacts {
  display: flex;
  flex-direction: column;
  margin-top: 60px;

  @media (min-width: 576px) {
    margin-top: 120px;
  }

  @media (min-width: 1260px) {
    margin-top: 180px;
  }

  &__container {
    @media (min-width: 576px) {
      display: flex;
      margin-bottom: 102px;
      gap: 24px;
      flex-direction: row;
    }

    @media (min-width: 1260px) {
      margin-bottom: 164px;
      gap: 198px;
    }
  }

  &__title {
    font-size: var.$textSizeBig;
    font-weight: var.$textWeightMedium;
    line-height: var.$textLineHeight;
    letter-spacing: var.$textLetterSpacing;
    text-align: center;

    @media (min-width: 576px) {
      font-size: var.$textSizeVeryBig;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    &-box {
      width: 280px;
    }

    &-field {
      font-family: inherit;
      box-sizing: border-box;
      font-weight: var.$textWeightThin;
      color: var.$secondaryTextColor;
      font-size: 14px;
      line-height: 48px;
      margin-top: 16px;
      padding-left: 16px;
      border-radius: 40px;
      outline: 0;
      border: 0;
      width: 100%;
      height: 48px;
      background-color: var.$formColor;

      @media (min-width: 576px) {
        margin-top: 24px;
      }

      &--textarea {
        height: 148px;
        border-radius: 16px;
        resize: none;
      }
    }

    &-button {
      margin-top: 20px;
      min-height: 48px;
      min-width: 278px;
      text-decoration: none;
      color: var.$secondaryTextColor;
      background-color: var.$mainTextColor;
      border-radius: 40px;
      line-height: 48px;
      text-align: center;
      font-size: var.$textSizeSmall;
      font-weight: var.$textWeightBold;
      border: none;
      transition: var.$transitionDuration;
      cursor: pointer;

      &:hover {
        box-shadow: 1px 4px 16px #e8e8f066;
      }

      &:active {
        box-shadow: 1px 4px 16px #e8e8f0a3;
      }
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 48px;
    margin-bottom: 120px;

    @media (min-width: 576px) {
      margin-top: 0;
    }

    &-title {
      font-size: var.$textSizeSmall - 2px;
      font-weight: var.$textWeightThin;
      line-height: var.$textLineHeight + 40%;
      margin-bottom: 0;
    }

    &-text {
      text-decoration: none;
      color: var.$mainTextColor;
      font-size: var.$textSizeSmall;
      font-weight: var.$textWeightMedium;
      line-height: var.$textLineHeight + 40%;
    }

    &-text:hover {
      color: var.$formTextColor;
    }
  }
}
