@use 'variables' as var;

.details {
  display: flex;
  flex-direction: column;
  margin-top: 60px;

  @media (min-width: 576px) {
    margin-top: 120px;
    width: 600px;
  }

  @media (min-width: 1260px) {
    margin-top: 144px;
    width: 1020px;
  }

  &__title {
    font-size: var.$textSizeBig;
    font-weight: var.$textWeightMedium;
    line-height: var.$textLineHeight;
    letter-spacing: var.$textLetterSpacing;
    text-align: center;

    @media (min-width: 576px) {
      font-size: var.$textSizeVeryBig;
    }

    @media (min-width: 1260px) {
      font-size: var.$textSizeVeryVeryBig - 16px;
    }
  }

  &__box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;

    &-image {
      height: 130px;
      width: 130px;
      transition: var.$transitionDuration;

      &--auto-unlock-1 {
        background-image: url(/src/images/auto-unlock-image-1.png);
        background-size: cover;
        background-position: center;

        @media (min-width: 576px) {
          background-image: url(/src/images/auto-unlock-image-1-desktop.png);
          height: 187px;
          width: 392px;
        }

        @media (min-width: 1260px) {
          height: 321px;
          width: 672px;
        }
      }

      &--auto-unlock-2 {
        background-image: url(/src/images/auto-unlock-image-2.png);
        background-size: cover;
        background-position: center;

        @media (min-width: 576px) {
          height: 187px;
          width: 184px;
        }

        @media (min-width: 1260px) {
          height: 321px;
          width: 324px;
        }
      }

      &--range {
        background-image: url(/src/images/range-image.png);
        background-size: cover;
        background-position: center;

        @media (min-width: 576px) {
          height: 187px;
          width: 392px;
        }

        @media (min-width: 1260px) {
          height: 321px;
          width: 672px;
        }
      }

      &--lights {
        background-image: url(/src/images/lights-image.png);
        background-size: cover;
        background-position: center;

        @media (min-width: 576px) {
          height: 187px;
          width: 184px;
        }

        @media (min-width: 1260px) {
          height: 321px;
          width: 324px;
        }
      }

      &--hydraulic {
        background-image: url(/src/images/hydraulic-image.png);
        background-size: cover;
        background-position: center;

        @media (min-width: 576px) {
          height: 187px;
          width: 184px;
        }

        @media (min-width: 1260px) {
          height: 321px;
          width: 324px;
        }
      }

      &--weight {
        background-image: url(/src/images/weight-image.png);
        background-size: cover;
        background-position: center;

        @media (min-width: 576px) {
          height: 187px;
          width: 392px;
        }

        @media (min-width: 1260px) {
          height: 321px;
          width: 672px;
        }
      }
    }

    &-image:hover {
      transform: var.$transitionScale;

      @media (min-width: 576px) {
        transform: scale(1.03);
      }
    }

    &-title {
      font-size: var.$textSizeMedium;
      font-weight: var.$textWeightBold;
      line-height: var.$textLineHeight + 40%;
    }

    &-text {
      margin-top: 0;
      font-size: var.$textSizeSmall;
      font-weight: var.$textWeightThin;
      line-height: var.$textLineHeight + 40%;

      @media (min-width: 1260px) {
        padding-right: 368px;
      }
    }
  }
}
