@use 'variables' as var;

.footer {
  background-image: url(/src/images/footer-image.png);
  background-size: cover;
  background-position: center;
  height: 200px;

  @media (min-width: 576px) {
    background-image: url(/src/images/footer-image-tablet.png);
    height: 480px;
  }

  @media (min-width: 1260px) {
    background-image: url(/src/images/footer-image-desktop.png);
    height: 555px;
  }
}
