@use 'variables' as var;

.footer {
  position: sticky;
  z-index: -1;
  background-image: url(/src/images/footer-image.png);
  background-size: contain;
  background-position: bottom;
  background-attachment: fixed;
  height: 200px;

  @media (min-width: 576px) {
    background-image: url(/src/images/footer-image-tablet.png);
    background-size: cover;
    height: 480px;
  }

  @media (min-width: 1260px) {
    background-image: url(/src/images/footer-image-desktop.png);
    height: 555px;
  }
}
