$mainTextColor: #fff;
$secondaryTextColor: #1d1d1d;
$defaultPaddingMobile: 24px 20px;
$mainBackgroundColor: #1d1d1d;
$menuBackgroundColor: #c2c2c2;
$menuLetterSpacing: 2px;
$formColor: #f8f8fa;
$formTextColor: #7e7e83;
$textSizeSmall: 16px;
$textSizeMedium: 24px;
$textSizeBig: 32px;
$textSizeVeryBig: 48px;
$textSizeVeryVeryBig: 80px;
$textWeightBold: 700;
$textWeightMedium: 500;
$textWeightThin: 400;
$textLetterSpacing: -1.5px;
$textLineHeight: 100%;
$cardWidth: 280px;
$cardWidthTablet: 392px;
$cardWidthDesktop: 324px;
$cardHeight: 418px;
$cardHeightTablet: 484px;
$cardHeightDesktop: 446px;
$transitionDuration: 300ms;
$transitionScale: scale(1.2);
